.container-fluid {
    background-color: #f0f8ff;
    min-height: 100vh;
  }
  
  .card {
    border-radius: 10px;
    height: 300px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .form-check-label {
    font-size: 1rem;
  }
  
  img {
    margin-top: 10px;
  }