@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sidebar-container {
  border-radius: 20px 0 0 20px;
  box-shadow: -9px 0px 10px -15px #111c;
  background-color: #f4fdff;
}

.home-hub-logo {
  height: 40px;
  width: 40px;
}

ul {
  li a {
    &:hover i::before {
      display: inline-block;
      animation: swing ease-in-out 0.5s 1 alternate;
    }
  }
}

.sign-out {
  color: #667080;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.sign-out-icon {
  font-size: 18px;
}

.sidebar-icon {
  width: 50px;
  height: 50px;
}

.items-color {
  color: #667080;
}
